<h1>{{title}}</h1>
{{#if conocido1}}
<p>Hola {{nombre}}</p>
<p>tu tienes {{edad}}</p>
<a href="/salir">Salir</a>
{{/if}}
{{#unless conocido}}
<p>No te conozco</p>
<form action="/ingresar" method="post">
    <input type="text" name="nombre">
    <input type="number" name="edad">
    <button>ingresar</button>
</form>
{{/unless}}