<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/leahfloresandcindyvirginiapeterson">leah flores and cindy virginia peterson</a></li>
        <li><a href="/backstory1">the first backstory</a></li>
        <li><a href="/backstory2part1">part one of the second backstory</a></li>
        <li><a href="/contactos">contactos</a></li>
        <li><a href="/destacados">destacados</a></li>
        <li><a href="/nosotros">nosotros</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
