<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>sitio web assasain creed payne 4: a ex cop valiant theif end</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/wikifurriotzy.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: silver;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">sitio web de assasain creed payne 4: a ex cop valiant theif end</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">tienda online</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              dlc
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">gunska heist free dlc</a></li>
              <li><a class="dropdown-item" href="#">sinkamha female anthromorphic animal TF gear, potions, devices and free potion injectors free dlc</a></li>
              <li><a class="dropdown-item" href="#">sinkamha adjustable and customizable growth\shrink size TF gear, potions and devices free dlc</a></li>
              <li><a class="dropdown-item" href="#">sinkamha bipedal\quadrupedal stance TF gear, potions and devices free dlc</a></li>
              <li><a class="dropdown-item" href="#">sinkamha 3D printed clothing, gear, tactical vests, gun holsters and backpacks that fit the subjects that have used the triple TF stuff of sinkamha on themselfs free dlc</a></li>
              <li><a class="dropdown-item" href="#">adela, alexandra, mara and claudia adventures on zootopian cascadia big islands of paradise, zootopian japan free dlc</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <footer>
    <p class="text-center">Diseñado por: Leandro Sampallo año: 2025</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
</body>

</html>