<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>sitio web de assasain creed catalyst 4: a theif end</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/wikifurria1 - copia.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: deepskyblue;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">sitio web de assasain creed catalyst 4: a theif end</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">tienda online</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              videojuegos de consola
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">PS2</a></li>
              <li><a class="dropdown-item" href="#">PS2 pro</a></li>
              <li><a class="dropdown-item" href="#">PS2 pro jacked</a></li>
              <li><a class="dropdown-item" href="#">PS3</a></li>
              <li><a class="dropdown-item" href="#">PS3 fenga</a></li>
              <li><a class="dropdown-item" href="#">PS3 davouil</a></li>
              <li><a class="dropdown-item" href="#">PS3 pro</a></li>
              <li><a class="dropdown-item" href="#">PS3 pro fenga</a></li>
              <li><a class="dropdown-item" href="#">PS3 pro jacked</a></li>
              <li><a class="dropdown-item" href="#">PS3 pro jacked fenga</a></li>
              <li><a class="dropdown-item" href="#">PS3 sakapla</a></li>
              <li><a class="dropdown-item" href="#">PS3 pro sakapla</a></li>
              <li><a class="dropdown-item" href="#">PS4</a></li>
              <li><a class="dropdown-item" href="#">PS4 neskada</a></li>
              <li><a class="dropdown-item" href="#">PS4 fenga</a></li>
              <li><a class="dropdown-item" href="#">PS4 fenga II</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro fenga</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro fenga II</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro neskada</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro jacked</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro jacked fenga</a></li>
              <li><a class="dropdown-item" href="#">PS4 pro jacked fenga II</a></li>
              <li><a class="dropdown-item" href="#">PS5</a></li>
              <li><a class="dropdown-item" href="#">PS5 neskada</a></li>
              <li><a class="dropdown-item" href="#">PS5 neskada II</a></li>
              <li><a class="dropdown-item" href="#">PS5 fenga</a></li>
              <li><a class="dropdown-item" href="#">PS5 fenga II</a></li>
              <li><a class="dropdown-item" href="#">PS5 fenga III</a></li>
              <li><a class="dropdown-item" href="#">PS5 pro</a></li>
              <li><a class="dropdown-item" href="#">PS5 pro fenga</a></li>
              <li><a class="dropdown-item" href="#">PS5 pro fenga II</a></li>
              <li><a class="dropdown-item" href="#">PS5 pro fenga III</a></li>
              <li><a class="dropdown-item" href="#">PS6</a></li>
              <li><a class="dropdown-item" href="#">PS6 pro</a></li>
              <li><a class="dropdown-item" href="#">PS6 pro jacked</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">tf anthro animal class</a></li>
              <li><a class="dropdown-item" href="#">tf feral animal class</a></li>
              <li><a class="dropdown-item" href="#">tf anthro and feral animal class</a></li>
              <li><a class="dropdown-item" href="#">tf growth class</a></li>
              <li><a class="dropdown-item" href="#">tf shrink class</a></li>
              <li><a class="dropdown-item" href="#">tf growth and shrink class</a></li>
              <li><a class="dropdown-item" href="#">tf growth, shrink and anthro animal class</a></li>
              <li><a class="dropdown-item" href="#">tf growth, shrink and feral animal class</a></li>
              <li><a class="dropdown-item" href="#">tf growth, shrink and anthro\feral animal class</a>
              </li>
              <li><a class="dropdown-item" href="#">tf MTF anthro animal class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF feral animal class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF anthro and feral animal class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF growth class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF shrink class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF growth and shrink class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF growth, shrink and anthro animal class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF growth, shrink and feral animal class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF growth, shrink and anthro\feral animal
                  class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF age regresion, growth, shrink and anthro\feral
                  animal class</a></li>
              <li><a class="dropdown-item" href="#">tf MTF age regresion, cursed, blessed, growth, shrink
                  and anthro\feral animal class</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  {{{body}}}

  <footer>
    <p class="text-center">Diseñado por: Leandro Sampallo año: 2025</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
</body>

</html>